<% content_for :header do %>
  <h1>Search Apartments</h2>
<% end %>

<table id='listings' class='table table-striped'>
  <thead>
    <tr>
      <% if @location %>
        <th>Distance (meters)</th>
      <% end %>
      <th>Price</th>
      <th>Utilities</th>
      <th>Address</th>
      <th>Availability</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @listings.each do |listing| %>
      <tr>
        <% if @location %>
          <td><%= ("%.02f" % (listing.distance_from(@location, :km) * 1000)) if listing.latlng %></td>
        <% end %>
        <td><%= number_to_currency listing.price.first if listing.price %></td>
        <td><%= listing.utilities %></td>
        <td><%= listing.address %></td>
        <td><%= listing.available %></td>
        <td><%= link_to content_tag("i", "&nbsp;".html_safe, :class => 'icon-eye-open'), listing.url %></td>
      </tr>
    <% end %>
  </tbody>
</table>
